name: PR Agent Review
on: 
  pull_request:
  pull_request_review_comment:
    types: [created]

jobs:
  pr_agent_job:
    if: github.event.sender.type != 'Bot'
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
      contents: write
    steps:
      - name: PR Agent
        uses: qodo-ai/pr-agent@main
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OPENROUTER.KEY: ${{ secrets.OPENROUTER_API_KEY }}
          config.model: "openrouter/mistralai/devstral-2512:free"
          github_action_config.auto_review: "true"
          github_action_config.auto_describe: "true"
